<header class='item-card-header'>
    <img class='profile' src='{{source.img}}' data-action='editImage' data-edit='img' />
    <div class='item-info'>
        <h1 class='item-name'><input type='text' name='name' value='{{source.name}}' /></h1>
        <div class='item-description'>
            <h3>{{localize 'TYPES.Item.community'}}</h3>
            {{#if (and showAttribution source.system.attributionLabel)}} <div class="attribution-header-label">{{source.system.attributionLabel}}</div>{{/if}}
        </div>
    </div>
</header>