<fieldset class="action-category">
    <legend class="action-category-label">
        <div>{{localize "DAGGERHEART.ACTIONS.Config.beastform.label"}}</div>
    </legend>

    <div class="action-category-data open">
        {{formGroup fields.tierAccess.fields.exact value=beastform.tierAccess.exact labelAttr="label" valueAttr="key" localize=true blank=""}}
    </div>
</fieldset>